<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BibliTech</title>
</head>
<body>

    <div class="nav">
        <li><a href="{% url 'home' %}">Home</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'cuentas' %}">Cuentas</a></li>
            <li><a href="{% url 'noticias' %}">Noticias</a></li>
            <li><a href="{% url 'signout' %}">LogOut</a></li>
        {% else %}
            <li><a href="{% url 'signin' %}">SignIn</a></li>
            <li><a href="{% url 'signup' %}">SignUp</a></li>
       {% endif %}
    </div>

    {% block content %}
    {% endblock %}
    
</body>
</html>