{% extends 'base.html' %}
{% block content %}

<h1>Welcome to Cuentas</h1>

<div class="count_table">
    <table>
        <tr>
            <th>Grade</th>
            <th>Teacher</th>
            <th>Mount</th>
            <th>Payed</th>
            <th>Date</th>
        </tr>

        {% for count in counts %}
        <tr>
            <td>{{ count.grade }}</td>
            <td>{{ count.teacher }}</td>
            <td>{{ count.mount }}</td>
            <td>{{ count.payed }}</td>
            <td>{{ count.date }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="form">
    <form action="{% url 'cuentas_create' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button>Save</button>
    </form>
</div>

{% endblock %}